.NavigationItem{
    margin: 5px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.NavigationItem a{
    text-decoration: none;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    color: black;
    display: block;
}

.NavigationItem a.NavActive{
    border-right: 4px solid #91D6CB;
}

.NavigationItem a:hover,
.NavigationItem a:active{
    background-color: #F2F2F2;
    cursor: pointer;
}




@media (min-width: 500px) {
    .NavigationItem{
        margin: 0;
        height: 100%;
        width: auto;

        display: flex;
        align-items: center;
    }

    .NavigationItem a{
        height: 100%;
        padding: 14px 10px;
        border-bottom: 4px solid transparent;
    }

    .NavigationItem a.NavActive{
        color: black;
        border-right: 0;
        border-bottom: 4px solid #91D6CB;
    }

    .NavigationItem a:hover,
    .NavigationItem a:active{
        color: black;
        background-color: #F2F2F2;
        border-right: 0;
    }


}