.Toast{
    position: fixed;
    display: block;
    width: 200px;
    bottom: -10px;
    right: 10px;
    padding: 10px;
    margin: 5px;
    border: 0;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 #C2C2C2;
    font-size: 0.9em;
    color: #423A2F
}