.FormDiv{
    width: 50%;
    min-width: 250px;
    margin: 30px auto 50px auto;
}

.errorMessageBox{
    margin: 1px;
    padding: 5px;
    opacity: 0;
    border: 1px solid rgb(200, 0, 0);
    border-radius: 5px;
    background-color: rgba(200, 0, 0, 0.1);
    color: rgb(200, 0, 0);
    box-sizing: border-box;
    transition: opacity 0.3s ease;

}

.displayBox{
    opacity: 100%;
}