.Page{
    box-shadow: 0 0 10px 0 #CCCCCC;
    border: 0;
    border-radius: 10px;
    background-color: white;
    padding: 5px;
    width: 70%;
    max-width: 600px;
}



@media (max-width: 499px){
    .Page{
        width: 100%;
    }
}